* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2{
  font-size: clamp(2rem, 1rem + 2vw, 2rem);/*changes font to grow or shrink with window*/
}
h1{
  border: 5px solid green;
}
h2{
  border: 5px solid yellowgreen;
}
h3{
  border: 5px solid blueviolet;
}
h4{
  border: 5px solid orangered;
}
h5{
  border: 5px solid purple;
}
p{
  border: 5px solid rgb(128, 0, 43);
  width: fit-content;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

header{
  border: 5px solid red;
  text-align: center;
  width: 100%;
  height: auto;
  padding-left: 5px;
  padding-right: 5px;

}
header div{
  border: 3px solid blue;
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
body{
  border: 10px solid rgb(0, 255, 85);
  height: 100vh;
}
section{
  border: 5px solid rgb(89, 0, 255);
}
section::after {
  content: "";
  display: table;
  clear: both;
}
nav{
  border: 5px solid rgb(255, 174, 0);
  text-align: center;
  width: 100%;
  height: auto;
  padding-left: 5px;
  padding-right: 5px;
}
aside{
  border: 5px solid rgb(0, 195, 255);
  float: left;
  width: 30%;
  height: 60vh;
  max-height: 150vh;
  background: #ccc;
  padding: 20px;
}
main{
  border: 5px solid rgb(1, 34, 65);
  float: left;
  margin: 0;
  padding: 0;
  padding-right: 2px;
  width: 70%;
  height: 60vh;
}
footer{
  border: 5px solid rgb(136, 5, 118);
  padding: 10px;
  text-align: center;
  color: white;
  background-color: black;
  width: 100%;
  bottom: 0;
}